---
import { getCollection } from "astro:content";
import { useTranslationsFromAstro } from "../../i18n/utils";

import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

// Obtener parámetros de la ruta
export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;

// Usar la función simplificada para obtener traducciones
const t = useTranslationsFromAstro(Astro);

// Título y descripción de la página
const pageTitle = `${t("work.title")} | Aaron Ccenta`;
const pageDescription = t("work.description");

// Content Fetching: List all work projects
const projects = (await getCollection("work"))
  .filter(
    (project) =>
      project.id.startsWith(lang + "/") && project.data.visible !== false,
  )
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title={t("work.title")} tagline={t("work.tagline")} align="start" />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  .mention-card > p {
    font-size: var(--text-lg);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>

